body {
  margin: 0;
  font-family: "Microsoft JhengHei", Pmingliu, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  color: #000;
  direction: ltr;
  font-size: 88%;
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
}
a {
  color: #00b7ff;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: normal;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 0.35em 0px;
}

.s9_title {
  color: #E47911;
  padding: 0;
  margin-bottom: 0;
  margin-top: 1em;
  border-bottom: 1px solid #ddd;
}

.container {
  border-bottom: 1px dotted #DDD;
  vertical-align: baseline;
  padding-bottom: 19px;
}

.viewed_container {
  width: 15%!important;
  float: left;
  border: 0;
  vertical-align: baseline;
}

.viewed_header {
  height: 15px;
  margin-bottom: auto;
  color: #666;
  padding: 2px 6px 2px 6px;
  font-size: 11px;
  line-height: 15px;
  background: #FAFAFA;
}

.viewed_body_outter {
  float: left;
  margin-top: 10px;
  width: 100%!important;
  overflow: hidden;
}

.viewed_body_inner {
  margin-left: 7px;
  margin-right: 7px;
}
.viewed_body {
  position: relative;
  zoom: 1;
  margin-top: 4px;
}
.item_text {
  display: block !important;
}

.item_text2 {
  position: relative;
  width: 16%;
  float: left;
}
.other_container {
  float: left;
  margin-right: -5px;
  width: 85%!important;
  float: left;
  border: 0;
  vertical-align: baseline;
}

.other_header {
  height: 15px;
  margin-bottom: auto;
  color: #666;
  padding: 2px 6px 2px 6px;
  font-size: 11px;
  line-height: 15px;
  border-left: 1px dotted #DDD;
  background: #FFF;
}


